/* USUARIOS */

/*IDENTIFICACION DE USUARIOS -------------------------- */
.usuarios_cajetin {
	font-size: 11px;
	text-align:left;
	}

/*campos de login de usuario*/
.usuarios_cajetin input[type=text], .usuarios_cajetin input[type=password]  {
	background:#ffffff;
	border:1px solid #ccc;
	color: #000;
	float: left;
	font-family:'robotothin', Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 10px;
	margin-right:5px;
	padding:3px;
	width: 130px;
	}

/*botón de login*/
.usuarios_cajetin input[type=submit] {
	background: url(../../images/btn_enviar.jpg) no-repeat;
	cursor:pointer;
	float: left;
	height: 18px;
	width:21px;
	}
.usuarios_cajetin input[type=submit]:hover {
	opacity:0.8;
	}
	
/*enlaces olvidé y alta usuario*/
.usuarios_cajetin .enlaces {
	float: left;
	margin:0px 10px;
	padding:0px 40px 0px 0px;
	background: url(../../images/fnd_registro.jpg) no-repeat center right; 
	border-left:2px solid #bf9527;
	 
	}
	
.usuarios_cajetin .enlaces a {
	background:url(../../images/bullet1.png) no-repeat left 5px;
	color:#bf9527;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	margin-left: 10px;
	padding-left:12px;
	}

.usuarios_cajetin .enlaces a:hover{color:#e4e4e4;}


/*==============================================================================*/

/*MENU DE USUARIO IDENTIFICADO ------------------------------------------*/
.usuarios_identificado {
	font-family: Arial;
	font-size: 13px;}

.usuarios_identificado div{
	display: inline-block;
	float: left;	
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;}

.usuarios_identificado div a{
	color: #bf9527;
	margin: 0px 2px 0px 0px;
	margin: 0px 0px 0px 0px\9;}

.usuarios_identificado div a:hover {color: #ffffff;}

/*nombre usuario*/
.usuarios_identificado div.session_usuario a{
	text-transform:uppercase;
	font-weight: bold;
	margin-right: 10px;}

/*contenedor de cada a href para hacer separadores, maquetar, etc...*/
.usuarios_identificado div.mi_perfil { border-right: 1px solid #ccc; padding: 0px 10px 0px 0px; margin-right: 10px;}
.usuarios_identificado div.mi_cesta {border-right: 1px solid #ccc; padding: 0px 10px 0px 0px; margin-right: 10px;}
.usuarios_identificado div.mis_pedidos {border-right: 1px solid #ccc; padding: 0px 10px 0px 0px; margin-right: 10px;}
.usuarios_identificado div.btn_logout {background: none;}
.usuarios_identificado div.btn_logout a {text-align:center;}
.usuarios_identificado div.btn_logout a:hover{}

/*========================================================================*/

/*USUARIOS PERFIL  -------------------------------------------------------*/
.usuarios_perfil {
	color: #333;
	padding-bottom:20px;}

.usuarios_perfil ul {
	width: 1025px;	
	margin: 0px 0px 0px 0px;}
	
.usuarios_perfil ul li{
	margin-left:0px !important;
	margin-bottom:6px;
	position:relative;}

.usuarios_perfil ul li.titulo {
	background:url(../../images/bullet1.png) no-repeat left 4px;
	display: block;
	color: #999;
	font-size:17px;
	padding: 0px 0px 5px 15px;
	margin-top:10px;}

.usuarios_perfil label{
	text-align:right;
	padding-top:5px;
	width: 450px;
	display:inline-block;
	position:relative;}
		
.usuarios_perfil ul li .dato_bd {
	width: 300px;
	margin-left: 10px;
	display:inline-block;}

.usuarios_perfil ul li input[type=text],.usuarios_perfil ul li input[type=password]{
	background: #f5efdf;
	border-radius:5px;
	width: 194px;
	padding: 3px;	
	border: 1px solid #ccc;
	margin: 0px 10px 0px 10px;}
	
.usuarios_perfil ul li select{
	width: 202px;
	background: #f5efdf;
	border-radius:5px;
	border: 1px solid #ccc;
	padding: 3px;
	margin: 0px 10px 0px 10px;}
	
/* botones input */
.usuarios_perfil ul li .btn_enviar{
	margin: 5px 0px 20px 10px;
	cursor:pointer;
	width: 202px;
	padding:3px 0px;
	text-align: center;
	color: #fff;
	font-size:13px;
	background:#000;
	border-radius:5px;
	text-transform:uppercase;
	border: none;}
.usuarios_perfil ul li .btn_enviar:hover {background:#bf9527;}

.usuarios_perfil ul li .btn_baja{
	margin: 5px 0px 0px 10px;
	cursor:pointer;
	width: 202px;
	padding:3px 0px;
	text-align: center;
	color: #fff;
	font-size:13px;
	background:#000;
	border-radius:5px;
	text-transform:uppercase;
	border: none;}
.usuarios_perfil ul li .btn_baja:hover {background:#bf9527;}
	
.usuarios_perfil label.error {color:#CC0000;line-height:12px;margin-top:-5px;font-size:13px; position:absolute; right:0px; top:8px; width:150px; text-align:left;}

/*=================================================================================================*/

	
/* OLVIDE MI CONTRASEÑA ---------------------------------------------------------------------------*/
.olvide_contrasena {
	position: relative;
	}


.olvide_contrasena input[type=text]{
	width: 180px;
	border-radius:5px;
	border: 1px solid #ccc;
	background: #F5EFDF;
	color:#000;
	margin: 0px 10px 0px 10px;
	font-family:'robotothin', Helvetica, Arial, sans-serif;
	padding: 1px 5px 1px 5px;
	height: 18px;}
.olvide_contrasena label.error{color:#CC0000;line-height:12px;margin-top:-5px;font-size:11px; position:absolute; right:0px; top:9px; width:130px; text-align:left;}
.olvide_contrasena .btn_enviar{
	width: 80px;
	border-radius:5px;
	cursor:pointer;
	padding:2px 0px;
	text-align: center;
	background:#000;
	border:none;
	color: #fff;
	text-transform:uppercase;
	font-family:'robotothin', Helvetica, Arial, sans-serif;
	height: 22px;}

.olvide_contrasena .btn_enviar:hover {background:#BF9527;}

/*el mensaje de error es absoluto en relacion al div que contiene el campo de email*/
.olvide_contrasena div.error {
	font-size:10px;
	line-height: 11px;
	position:absolute;
	left: 170px;
	top: 30px;
	color: #c30;}

/*====================================================================================================*/

	
/*ALTA DE USUARIOS ------------------------------------------------------------*/

.usuarios_alta {
	padding-bottom:20px;
}

.usuarios_alta ul {
	margin: 0px 0px 0px 0px;
	width:1025px;}
	
.usuarios_alta ul li{
	margin-left:0px !important;
	margin-bottom:6px;
	position:relative;
	}
	
.usuarios_alta ul li.campos_obligatorios {
	text-align: left;
	font-size:12px;
	color: #999;
	}

.usuarios_alta ul li.titulo {
	background:url(../../images/bullet1.png) no-repeat left 10px;
	clear:both;
	display: block;
	color: #999;
	font-size:17px;
	padding: 0px 0px 5px 15px;
	margin-top:10px;
	}

.usuarios_alta label{
	display:inline-block;
	text-align:right;
	padding-top:5px;
	width: 450px;
	position:relative;}
		
.usuarios_alta ul li .dato_bd {
	width: 300px;
	margin-left: 10px;}

.usuarios_alta ul li input[type=text],.usuarios_alta ul li input[type=password]{
	background: #F5EFDF;
	border-radius:5px;
	width: 194px;
	padding: 3px;	
	border: 1px solid #ccc;
	font-family:'robotothin', Helvetica, Arial, sans-serif;
	margin: 0px 10px 0px 10px;}
	
.usuarios_alta ul li select{
	width: 202px;
	background: #F5EFDF;
	border-radius:5px;
	border: 1px solid #ccc;
	font-family:'robotothin', Helvetica, Arial, sans-serif;
	padding: 3px;
	margin: 0px 10px 0px 10px;}
	
/* botones input */
.usuarios_alta ul li .btn_enviar{
	margin: 5px 0px 0px 10px;
	cursor:pointer;
	width: 202px;
	padding:3px 0px;
	text-align: center;
	color: #fff;
	font-size:13px;
	background:#000;
	border-radius:5px;
	text-transform:uppercase;
	border: none;}

.usuarios_alta ul li .btn_enviar:hover {background:#BF9527;}

.usuarios_alta ul li .btn_baja{
	margin: 5px 0px 0px 210px;
	width: 202px;
	padding:3px 0px;
	cursor:pointer;
	text-align: center;
	color: #fff;
	font-size:13px;
	background:#000;
	border-radius:5px;
	text-transform:uppercase;
	border: none;}

.usuarios_alta ul li .btn_baja:hover {background:#BF9527;}
	
.usuarios_alta .suscribir{
	margin: 0px 0px 0px 210px;
	font-size: 11px;}

.usuarios_alta .aviso_legal{
	position: relative;
	font-size: 13px;
	padding-left:10px;
	padding-top:5px;
	}
.usuarios_alta .aviso_legal input {
	position:relative;
	top:3px;
}
.usuarios_alta .aviso_legal a:hover {
	color: #ccc;
	font-family: Arial;}

.usuarios_alta label.error {color:#CC0000;line-height:12px;margin-top:-5px;font-size:13px; position:absolute;right:0px; top:10px; width:150px; text-align:left;}
.usuarios_alta .aviso_legal label.error{top:12px;}
/*mensajes de error*/
.usuarios_alta div.error {
	font-family: Arial;
	font-size:12px;
	display: inline;
	text-align:left;
	color: #c30;}
	
.usuarios_alta .aviso_legal div.error{
	position: absolute;
	left: 575px;
	font-family: Arial;
	font-size:12px;
	line-height: 13px;
	position:absolute;
	left: 212px;
	top: 21px;
	color: #c30;}


/*páginas de gracias, activación de cuenta, etc.*/
.usuarios_alta_gracias {
	color:#444;}
.usuarios_alta_gracias p strong {
	font-weight: bold;}

/*=============================================================================*/