@CHARSET "UTF-8";

/* Colors:  http://serennu.com/colour/colourcalculator.php
 
		#fbf3dc		daurat molt clar
		#BF9527		daurat text
		#9e7839		daurat logo
		
		#222				gris fort casi negre
		#333				gris fort
		#4E4E4E		menys fort
*/

html {
    font-size: 90%;
}
/* body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, footer, header, hgroup, menu, nav, section, summary, mark, audio, video { */
blockquote, body, button, div, form, h1, h2, h3, h4, h5, h6, p, strong, table, tbody, td, th, tr {
    border: 0 none;
    font-family: "Open Sans",sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
/*    vertical-align: baseline;	-problemes amb DatePicker	*/
}
input, button, textarea, select {
    font-family: "Open Sans",sans-serif;
}
h1, h2, h3, h4, h5, h6 {
/*	font-weight: 400;	*/
	font-weight: normal;
	color: #BF9527;
}
body {
/*	background-color: #F6DEDC;	/* LV2  - Trobat a: ColourCalc - Lightness Variations (penúltim color)  */
/*    background: none repeat scroll 0 0 #F6DEDC;	*/
	color: #222;
/*	font-family: arial,sans-serif;  */
   line-height: 1rem;
}
h2 {
	font-size: 23px;
	margin-bottom: 10px;
}
h3 {
	font-size: 17px;
}
#cos {
	padding: 20px;
	padding: 65px 20px 20px;		/* Top Right=Left Bottom	*/	
	font-size: 13px;
}

/***********************  Entorn difuminat no_js  *********************************/
.popIn1 {
	height: 100%;
  top: 100px;
  right: 0;
  left: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
}
#no_js2 {
  left: 300px;
  width: 600px;
}
.popIn2 {
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding: 20px;
	padding: 1.25rem;
	top: 140px;
	top: 8.75rem;
	width: 272px;
	width: 17rem;

  position: absolute;
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.popIn2 h3 {
	margin-top: 0px;
	margin-bottom: 18px;
	margin-bottom: 1.125rem;

	font-weight: normal;
}

/***********************  Entorn difuminat  *********************************/
.finestra2 {
	margin: 100px auto;
    width: 400px;
/*    margin-top: 40px;*/
/*    margin: 0 auto 40px;*/
/*    position: relative;*/
}
.finestra3 {
/*    border: 10px solid rgba(82, 82, 82, 0.7);*/

	border: 6px solid rgba(158, 120, 57, 0.7);		/* daurat logo  #9e7839 */
/*	border: 6px solid rgba(104, 255, 179, 0.7);		/* verd .ico  #68ffb3 */
	border-radius: 8px 8px 8px 8px;
}
.finestra4 {
    background-color: #FFFFFF;
/*    position: relative;*/
	padding: 14px;
}

/***********************  Formulari login  **********************************/
.finestra4 input{
	margin-bottom: 8px;
	padding: 2px 6px;
}
.finestra4 h3 {
	margin-bottom: 18px;
	font-weight: bold;
	font-size: 17px;
	color: #9e7839;		/* daurat logo  */
/*	color: #68ffb3;		/* verd .ico  */
}
.finestra4 input[type="checkbox"] {
	cursor: pointer;
	
	cursor: pointer;
	vertical-align: middle;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
	-moz-appearance: none;
	height: 1rem;
	width: 1rem;
	margin: 8px 2px 6px;	
/*
	margin: 0px;
	margin-left: 20px;
	vertical-align: middle;
	*/
}
.finestra4 label {
	font-size: 14px;
}
.finestra4 input[type="submit"] {
    border-radius: 4px;
    border-style: none;
	padding: 0 10px;
	height: 29px;
	background-color: #9e7839;		/* daurat logo  */
/*	background-color: #68ffb3;		/* verd .ico  */
  	color: #FFF;
	cursor: pointer;
	font-family: inherit;
	font-size: 13px;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
	float: right;
	font-weight: bold;
}

/***********************  Llista estil ListBox  *****************************/
	/* regles pq es mostri l'scroll vertical*/
table.llista {
    display: table;
    width: 100%;
	border-collapse: collapse;
}
table.llista thead, table.llista tbody {
    float: left;
    width: 100%;
}
table.llista tbody {
    overflow: auto;
    height: 281px;
}
table.llista tr {
    width: 100%;
    display: table;
    text-align: left;
}
table.llista th, table.llista td {
/*    width: 33%;	*/
}

/***********************  Canvis a bootstrap  *****************************/
.grup {
	margin: 10px 0;
}
/* class="form-control form-lin2" -->  per canviar l'ample d'un camp*/
.form-lin2 {	/* 2 camps per linia */
	display: inline;
	width: 49%;
}
.form-group {
	margin-bottom: 5px;		// 15px;
}
.form-group .col-sm-9 input {
	height: 29px;		// 34px;
}
.form-group .col-sm-9 button {
	height: 29px;				// 34px;
	padding-top: 5px;		// 6px;
}
.form-group .col-sm-9 select {
	width: auto;				// 100%;
	height: 29px;				// 34px;
	padding: 5px 8px;		// 6px 12px;
}
.form-group .col-sm-1 input[type="checkbox"] {
	margin-top: 5px;
	margin-bottom: 5px;
	-moz-appearance:    none !important;
	width: 1.2rem;
	height: 1.2rem;
	cursor: pointer;
}
.form-group .col-sm-1 input[type="checkbox"]:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
	outline: 1px solid #66AFE9;
	transition: box-shadow 0.15s ease-in-out 0s;
}
.form-group .col-sm-3 input[type="radio"] {
	margin-top: 0px;
	margin-right: 5px;
	cursor: pointer;
}
