/*RECURRENTES ---------------------------------*/
.clearboth{clear:both;}
.derecha {float:right;}
.izquierda {float:left;}

/*TEXTOS ---------------------------------*/
p {
	padding:5px 0px 5px 0px;
	}

.entradilla {

	}
	
blockquote {
    background: url(../images/bg-quote1.png) no-repeat;    
    color: #a5a4a4;
    font-style: italic;
    margin: 10px;
    padding: 30px 30px 30px 80px; 
	font-size:18px;   
}  
blockquote:first-letter {
    text-transform:uppercase;
}

.peq {
	color:#999;
	font-size:13px;
	line-height:12px;
	position:absolute;
	right:0px;
	}

/*TÍTULOS ---------------------------------*/
h1 {
	font-size:30px;
	color:#000;
	margin-bottom:10px;
	font-weight:normal;
	}

h2 {
	font-size:23px;
	color:#bf9527;
	margin-bottom:10px;
	font-weight:normal;
	}

h3 {
	font-size:18px;
	color:#000;
	font-weight:bold;
	}

h4 {
	color: #000000;
    display: inline-block;    
    list-style: none outside none;
    margin: 0 8px 0 0;
    padding: 4px 0 10px 25px;
    text-align: left;
	font-weight:normal;
	width:100%;
	}

.sim {
	font-size:36px;
	color:#000;
	margin-bottom:10px;
	font-weight:normal;
	display:block;
	}

/*LINKS ---------------------------------*/
a {
	color:#bf9527;
	text-decoration:none;
	}
a:hover{
	color:#000000;
	text-decoration:none;
	}

.volver{
	background: url(../images/fnd_volver.gif) no-repeat 0px 15px;
	border-top:1px solid #bf9527;
	display: inline-block;
	font-size: 14px;
	margin: 20px 0px 10px 0px;
	padding: 10px 0px 0px 10px;
	text-decoration: none;
	text-transform: uppercase;
	width:1025px;
	}

.volver:hover {
	color:#000000;
	}

#twitter{
	float:left;
	width:175px;
	margin-top:10px;
	margin-bottom:10px;
	
}

/*IMÁGENES ---------------------------------*/
div.cuerpo img{
	border:1px solid #D8D8D8;
	float:right;
	margin:5px 0px 25px 25px;
	padding:7px;
}
.fotoder {
	border:1px solid #D8D8D8;
	float:right;
	margin:5px 0px 25px 25px;
	padding:7px;
	}

.fotoizq {
	border:8px solid #D8D8D8 !important;
	border-radius:7px;
	float:left !important;
	margin:5px 25px 0px 0px !important;
	}

.fotodersinborde {float:right;}

/*DOCUMENTACIÓN ---------------------------------*/
.documentacion li {width:945px;padding:15px 15px 20px 65px;background:#F9F0E3 url(../images/download.png) no-repeat 17px 17px;margin-top:10px;float:left;clear:both;}
.documentacion li .titulo {padding-bottom:3px;}
.documentacion li .titulo a {font-size:18px;font-weight:bold;line-height:25px;}

/*PAGINADOR --------------------------------- */
#paginador  {
	/*text-align: center;*/
	margin-top: 10px;
	word-wrap: break-word;
	padding: 2px 0 15px;
	clear:both;
	text-align:right;
}
#paginador .texto {
	font-weight: bold;
	font-size: 13px;
	font-weight: bold;
	color: #888;
	/*letter-spacing: 25px;*/
	padding:0 7px 0 7px;
	text-decoration: none;	
	margin: 0;
}
#paginador .texto_on{
	width:17px;
	height: 17px;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	/*letter-spacing: 25px;*/
	line-height:25px;
	padding: 2px 5px 3px;
	background: url(../images/bg-holiday.gif) no-repeat scroll 0 3px transparent;
	border:none;
}
#paginador .texto:hover{color: #a81415;}

/*LISTAS ---------------------------------*/
.lista li {background:url(../images/flecha_evento.png) no-repeat left 5px;margin-top:5px;padding-left:13px;}
.lista2 li {background:url(../images/flecha_evento2.png) no-repeat left 5px;margin-top:15px;padding-left:13px;}
.lista2 li a {color:#000;font-size:17px;}

/*NOTICIAS ---------------------------------*/
.noticia
{
	border-bottom:1px solid #ccc;
	margin:0px 20px 20px 20px;
	overflow:hidden;
	padding:7px 0px 7px 0px;
	position:relative;
	width:470px;
	float:left;
	height:165px;/**/
}
	
.noticia .img {
	float:left;
	margin:2px 15px 0px 0px;
	}
	
.noticia .img img {
	max-width: 250px;
	max-height:250px;
	}
.noticia .texto
{
	overflow:hidden;
	height:140px;
	overflow:hidden;
}
.noticia .fecha {
	color:#000;
	font-size: 12px;
	}

.noticia .titulo a:link {
	color:#bf9527;
	font-size: 18px;
	font-weight:normal;
	text-transform:uppercase;
	}
.noticia .titulo a:hover {
color:#000;
}
.noticia .parrafo {
	padding-top:10px;
	padding-bottom:23px;
	}
	
.noticia .link a {
	background:#000;
	border-radius:5px 5px 0px 0px;
	bottom:22px;
	color:#fff;
	display:block;
	font-size: 12px;
	padding:2px 10px 2px 10px;
	position:absolute;
	left:0px;
	text-align:center;
	}
	
.noticia .link a:hover {
	background:#bf9527;
	}

.fotonoti {
	border:1px solid #D8D8D8;
	float:right;
	margin:5px 0px 25px 25px;
	padding:7px;
	}

.entradilla2 {font-style:italic;font-size:15px;color:#000;padding:3px 0px 10px 0px;}

/*------- GALERÍA GRUPOS -----------*/

.grupo_galeria {
	background:#E6E6E6;
	border-radius:7px;
	float:left;
	height:230px;
	font-size:15px;
	text-transform:uppercase;
	padding:10px;
	margin:10px 6px 0px 6px;
	overflow:hidden;
	width:218px;
	}

.grupo_galeria .foto {
	float:left;
	height:158px;
	overflow:hidden;
	text-align:center;
	width:218px;
	}

.grupo_galeria .foto img {max-width:218px;}
.grupo_galeria .foto a:hover img {max-width:218px;opacity:0.6;filter: alpha(opacity=60);}
.grupo_galeria .tit {padding-top:9px;color:#000;text-align:center;float:left;clear:both;width:202px;}
.grupo_galeria .descripcion {text-transform:none;font-size:12px;color:#666;line-height:13px;}

/*GALERÍA ---------------------------------*/
.ficha_galeria {
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
	float:left;
	height:209px;
	padding:5px;
	overflow:hidden;
	width:225px;
	margin:5px 10px 5px 0px;
	text-align:center;
	}
.ficha_galeria p.tit
{
	color:#363254;
	font-size:14px;
	margin-bottom:8px;
}
.ficha_galeria .foto {
	height:115px;
	overflow:hidden;
	text-align:center;
	width:225px;
	
	}
.ficha_galeria .foto img
{
	border-radius:5px;
	height:112px;
	width:auto;
	max-width:205px;
	box-shadow:1px 1px 3px rgba(0,0,0,0.4);
}
.clear {clear:both;}
	
.ficha_galeria .detalles {
	height:66px;
	overflow:hidden;
	text-align:center;
	line-height:16px;
	padding-top:5px;
	width:205px;
	}

.ficha_galeria .detalles a {
	color:#5ea7d2;
	}


/*REGISTROS (3ª CAÍDA) ---------------------------------*/
.lista_registros {
	margin-top:5px;
	}
	
.lista_registros li {
	background:url(../images/flecha_evento.png) no-repeat left 8px;
	padding:0px 0px 0px 14px;
	overflow:hidden;
	font-size:20px;
	line-height:25px;
	margin-top:7px;
	}
.lista_registros .pequeno{
	background:url(../images/flecha_evento.png) no-repeat left 8px;
	padding:0px 0px 0px 14px;
	overflow:hidden;
	font-size:16px;
	line-height:25px;
	margin-top:7px;
	}
.lista_registros li.pdf_download {
	background:url(../images/download_pdf.png) no-repeat left 8px;
	height: 78px;
	margin-right: 55px;
    width: 60px;
	float:right;
	}
.lista_registros li.pdf_download a{width:100%;height:100%;display:block;}
.lista_registros li a {
	color:#bf9527;
	font-weight:normal;
	}

.lista_registros li a:hover {
	color:#000000;
	text-decoration:none;
	}


/*BUSCADOR ---------------------------------*/

#busqueda
{
}
#busqueda p
{
	font-size:18px;
}
#busqueda input[type="text"]
{
	background:#CCC;
	padding:0px 2px;
	height:25px;
	color: #444;
	font-size: 12px;
	width:164px;
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.35);
}
#busqueda input[type="button"]
{
	padding:2px 8px;
	background: #222;
	color: white;
	font-size: 13px;
	text-align: center;
	height:25px;
	font-family:'robotothin', Arial, Helvetica, sans-serif;
	box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.75);
	cursor:pointer;
}
#busqueda input[type="button"]:hover
{
	background:#4B4B4C;
}
.resultados_buscador li.resultado
{
	margin-bottom:35px;
}
.resultados_buscador li.titulo
{
	font-size: 23px;
	color: #999;
	padding-bottom: 10px;
}
.resultados_buscador li.contenido
{
	margin-bottom:5px;	
}
.resultados_buscador li.ampliar a
{
	color: #2B3141;
	text-align: left;
	font-size: 14px;
	background: url(../images/bullet_leermas.png) no-repeat right center;
	padding: 0px 10px 0px 0px;
}

/*LOCALIZACIÓN ---------------------------------*/
.mapa_google {
	clear:both;
	border:1px solid #000000;
	float:left;
	height:670px;
	margin-top:20px;
	width:700px;
	padding:7px;
	}
#map_canvas
{
	margin-bottom:20px;
}
div.gps{ margin-bottom:10px; overflow:hidden;}
div.gps img
{
	float:left;
	margin-right:10px;
}
div.gps p
{
	position:relative;
	top:2px;
}
div.gps p span
{
	font-weight:bold;
}
.datos_empresa
{
	width:270px;
	float:right;
	margin-top:10px;
	overflow:hidden;
}
.datos_empresa a
{
	
}
.loc{
	width:300px;
	height:450px;
	display:block;
	margin-top:30px;
	margin-bottom:10px;
	float:left;
}
.hide{
	display:none !important;
}


/*GALERÍA VIDEOS ---------------------------------*/
.galeria_principal {
	border-bottom:1px solid #67666b;
	float:left;
	overflow:hidden;
	width:1025px;
	text-align:center;
	padding: 0 0 10px 0;
	margin: 10px 0px 10px 0px;
	position:relative;
}
.galeria_principal .foto {
	/*height:735px;*/
	width:1025px;
	overflow:hidden;
}

.ficha_galeria_videos {
	float:left;
	overflow:hidden;
	height:169px;
	width:291px;
	margin:10px 25px 25px 25px;
	text-align:center;
	position:relative;
}

#form_videos{
	margin:15px 0;
}
#form_videos label{
	color: #000000;
    display: inline-block;
    float: left;
    list-style: none outside none;
    margin: 0 8px 0 0;
    padding-top: 4px;
    text-align: right;
    width: 267px;
}

#form_videos select{
	background: none repeat scroll 0 0 #F5EFDF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-family: 'robotothin',Helvetica,Arial,sans-serif;
    margin: 0 10px 0 0;
    padding: 3px;
    width: 202px;
}

.ficha_galeria_videos .foto {
	height:169px;
	width:291px;
}
.ficha_galeria_videos .foto a {
	text-decoration: none;
	display:block;
}
.ficha_galeria_videos .foto a img {
	max-height:169px;
	max-width: 291px;	
	padding:0px 0px 0px 0px;
}
.ficha_galeria_videos .foto a span.play {
	display:none;
	background: url(../images/btn_play.png) no-repeat center 60px;
	background-color:rgba(0,0,0,0.7);
	margin: -169px 0px 0 0px;
	height:169px;
	width: 291px;
	position: relative;
	z-index: 99999;
	opacity: 1;
}
.ficha_galeria_videos .foto a:hover span.play {
	display:block;
}
.ficha_galeria_videos p.titulo_video_port {
	color:#fff;
	font-size: 16px;
	text-align:center;
	height:20px;
	width: 271px;
	padding: 0 10px 0 10px;
	position:absolute;
	top: 120px;
	left:0px;
	overflow:hidden;
}

.ficha_galeria_videos p.titulo_video_port a:link{
	color:#fff;
	font-weight:normal;}
	
.ficha_galeria_videos .detalles{
	color:#bf9527;
	font-style:italic;
	font-size: 14px;
	overflow:hidden;
	text-align:center;
	height:20px;
	width: 271px;
	margin:0 auto;
	padding: 0 10px 0 10px;
	position:absolute;
	top: 140px;
	font-weight:bold;
}
.ficha_galeria_videos .detalles a:hover {
	color:#fff;	
}


.cuerpo{margin-top:10px;}


/*CENTROS Y TRAINERS ---------------------------------*/
.centros_cont{
	overflow:hidden;
	width:1025px;
	border-bottom:1px solid #bf9527;
	padding-bottom:15px;
	margin-bottom:15px;}
.centros{
	float:left;
	height:100px;
	width:310px;
	margin:15px 0px 15px 0px;
	border-left:1px solid #000;
	padding:0px 0px 0px 25px;
	overflow:hidden;
	}
	
.centros .nombre{
	color:#bf9527;
	font-weight:bold;
	display:block;
	margin-bottom:5px;}
	
.centros .descrp{
	color:#666666;
	display:block;
	font-size:14px;
	line-height:20px;
}


.izquierda_trainers{
	float:left;
	overflow:hidden;
	width:660px;
	/*height:110px;*/}
.trainers{
	float:left;
	/*height:105px;*/
	width:1025px;
	margin:15px 0px 15px 0px;
	border-bottom:1px solid #000;
	padding:0px 0px 15px 0px;
	overflow:hidden;
	}
	
.trainers .nombre{
	color:#bf9527;
	font-weight:bold;
	display:block;
	margin-bottom:5px;}
	
.trainers .nombre span{
	color: #000000;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
	padding-left:12px;
}	

.trainers .descrp{
	color:#000000;
	display:block;
	font-size:16px;
	line-height:20px;
	overflow:hidden;
	height:60px;
	margin-top:5px;
}

ul.fotos_trainers{
	float:right;
	max-width:350px;
	
	}
	
.fotos_trainers li{
	float:right;
	width:100px;
	margin:5px 0px 0px 15px;
	}
	
.fotos_trainers li img{

	max-width:100px;}
	
	
	
	
/* CSS3 STYLE GENERIC */
.view {
   width: 200px;
   /*height: 133px;*/
   margin:2px 15px 0px 0px;
   float: left;
   border: 5px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
}
.view .mask, .view .content {
   width: 200px;
   height: 133px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view a.info {
   background:url(../img/link.png) center no-repeat;
   display: inline-block;
   text-decoration: none;
   padding:0;
   text-indent:-9999px;
   width:20px;
   height:20px;
}

/* CSS3 EFFECTS */
/* FIFTH EFFECTS */
.effect img {
   opacity:1;
   -moz-transform:scale(1,1);
   -webkit-transform:scale(1,1);
   -o-transform:scale(1,1);
   -ms-transform:scale(1,1);
   transform:scale(1,1);
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   -o-transition: all 0.2s ease-in;
   -ms-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
}
.effect .mask {
   opacity:0;
   overflow:visible;
   border-color:rgba(0,0,0,0.7) transparent transparent transparent;
   border-style:solid;
   border-width:100px;
   width:0;
   height:0;
   -moz-transform:translateY(-125px);
   -webkit-transform:translateY(-125px);
   -o-transform:translateY(-125px);
   -ms-transform:translateY(-125px);
   transform:translateY(-125px);
   -moz-transition: -moz-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
   -webkit-transition: -webkit-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
   -o-transition: -o-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
   -ms-transition: -ms-transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
   transition: transform 0.2s 0.1s ease-out, opacity 0.3s ease-in-out;
}
.effect a.info {
	opacity:0;
   -moz-transform:translateY(-125px);
   -webkit-transform:translateY(-125px);
   -o-transform:translateY(-125px);
   -ms-transform:translateY(-125px);
   transform:translateY(-125px);
   -moz-transition: -moz-transform 0.3s ease-in, opacity 0.1s ease-in-out;
   -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.1s ease-in-out;
   -o-transition: -o-transform 0.3s ease-in, opacity 0.1s ease-in-out;
   -ms-transition: -ms-transform 0.3s ease-in, opacity 0.1s ease-in-out;
   transition: transform 0.3s ease-in, opacity 0.1s ease-in-out;

}
.effect:hover img {
	opacity:0.7;
   -moz-transform:scale(1.5,1.5);
   -webkit-transform:scale(1.5,1.5);
   -o-transform:scale(1.5,1.5);
   -ms-transform:scale(1.5,1.5);
   transform:scale(1.5,1.5);
}
.effect:hover .mask {
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.effect:hover a.info {
	opacity:1;
   -moz-transform:translateY(40px);
   -webkit-transform:translateY(40px);
   -o-transform:translateY(40px);
   -ms-transform:translateY(40px);
   transform:translateY(40px);
}
.addThis{
	margin:20px 0;
}

.respuesta{
	display:none;
	
}