* {border:0;margin:0;padding:0;outline:none;}
ul {list-style:none;}
/*
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/Roboto-Thin-webfont.eot');
    src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/

@font-face {
    font-family: 'avantgardeitcbook';
    src: url('ufonts.com_avantgardeitc-book-webfont.eot');
    src: url('ufonts.com_avantgardeitc-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('ufonts.com_avantgardeitc-book-webfont.woff') format('woff'),
         url('ufonts.com_avantgardeitc-book-webfont.ttf') format('truetype'),
         url('ufonts.com_avantgardeitc-book-webfont.svg#avantgardeitcbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ESTRUCTURA --------------------------------- */
html {
	min-height:100%;
	width:100%;
	position:relative;
	}
	
body {
	background:#ffffff url(../images/fnd_body.jpg) repeat-x left top;
	color:#000;
	font-family: 'avantgardeitcbook', Helvetica, Arial, sans-serif;
	font-size:16px;	
	height:100%;
	width:100%;
	}
body.body_aviso{
	overflow:auto;
}
.supercontenedor{
	min-width:1025px;
	width:100%;
	}	
	
.contenedor{
	margin:0 auto;
	overflow:hidden;
	padding-bottom:77px;
	width:1025px;
	}

.contenido{
	overflow:hidden;
	width:1025px;
	padding:10px 0px 10px 0px;
	}
	
.columna_izquierda{
	float:left;
	overflow:hidden;
	width:740px;
	}

.columna_derecha{
	float:right;
	overflow:hidden;
	width:237px;
	}
