/* PORTADA */
/*PARA EL INDEX EDITABLE*/
#contenedor_editable{width:100%; position:relative; }
.resizable{
	border:1px solid #000;
	float:left;
	max-width:100%;
}
.resizable h3{
	background:#000;
	color:#fff;
	font-size:14px;
	padding:7px;
}
div.resizable {overflow:hidden;}    

body {
	background:#ffffff url(../images/fnd_body_port.jpg) repeat-x left top;
	color:#000;
	font-family: 'avantgardeitcbook', Helvetica, Arial, sans-serif;
	font-size:16px;	
	height:100%;
	width:100%;
	font-weight:normal;
	}
	
.contenido{
	overflow:hidden;
	width:1025px;
	padding:0px 0px 0px 0px;
	}


.destacados_portada{
	overflow: hidden;
    padding: 25px 0px 0px 0px;
    width: 1025px;
	height:231px;
	}
.destacado_01, .destacado_02, .destacado_03{
	height:231px;
	width:340px;
	position:relative;
	float:left;
	}

.destacado_01{background:url(../images/destacado_portada01.jpg) no-repeat;}
.destacado_02{background:url(../images/destacado_portada02.jpg) no-repeat;}
.destacado_03{background:url(../images/destacado_portada03.jpg) no-repeat;}


.txt_dest01{
	width:120px;
	height:40px;
	position:absolute;
	top:95px;
	left:29px;}

.txt_dest02{
	width:120px;
	height:20px;
	position:absolute;
	top:95px;
	left:40px;}

.txt_dest03{
	width:150px;
	height:70px;
	position:absolute;
	top:120px;
	right:20px;}



.presentacion{
	overflow: hidden;
    padding: 25px 500px 0px 0px;
	margin-top:14px;
    width: 100%;
	height:409px;
	}
.presentacion img{
	float:right;
	}
 .presentacion .tit_presentacion{
	 font-size:30px;
	 color:#000;
	 display:block;
	 margin:70px 0px 30px 0px;
	 }

 .presentacion .txt_presentacion{
	 font-size:18px;
	 color:#000;
	 display:block;
	 margin:10px 0px;
	 }

.amarillo{color:#bf9527;}


.cont_port{
	background:url(../images/fnd_col_izq_portada.png) repeat-y left top;
	width:1025px;
	overflow:hidden;
	}


.columna_izquierda_portada{
	float:left;
	overflow:hidden;
	width:356px;
	}
	
.columna_izquierda_portada .titulo_videos_portada{
	background: #000000 url(../images/img_videos.jpg) no-repeat center left;
	height:57px;
	width:353px;
	}
	
	
.titulo_productos_portada{
	background: #000000 url(../images/img_catalogo.jpg) no-repeat center left;
	height:57px;
	width:458px;
	}
.columna_izquierda_portada .videos{
	padding:25px 0px 0px 20px;
	width:316px;
	overflow:hidden;
	}

.columna_derecha_portada{
	float:right;
	overflow:hidden;
	width:660px;
	}


/*NOTICIAS PORTADA*/
.avance_noticias {
	overflow:hidden;
	padding-bottom:20px;
	}
	
.avance_noticias ul {
	padding-right:10px;
	}
	
.avance_noticias ul li{
	border-bottom:1px dotted #ccc;
	margin-bottom:20px;
	overflow:hidden;
	padding:7px 0px 7px 0px;
	position:relative;
	}

.avance_noticias ul li .foto{
	float:left;
	margin-right:15px;
	}
.avance_noticias ul li .foto img{max-width: 200px;border-radius:5px;}

.avance_noticias ul li .fecha{color:#000;font-size: 12px;}

.avance_noticias ul li .titulo p a{
	font-size: 18px;
	font-weight:normal;
	text-transform:uppercase;
	}
	
.avance_noticias ul li .entradilla{
	padding-bottom:23px;
	text-align:justify;
	}
	
.avance_noticias ul li .leermas a{
	background:#000;
	border-radius:5px 5px 0px 0px;
	bottom:0px;
	color:#fff;
	display:block;
	font-size: 12px;
	padding:2px 10px 2px 10px;
	position:absolute;
	right:0px;
	text-align:center;
	}
.avance_noticias ul li .leermas a:hover {background:#666;}


/*NOTICIAS DESTACADAS*/
.avance_destacada {
	border-bottom:1px dotted #ccc;
	margin:7px 0px 20px 0px;
	overflow:hidden;
	width: 237px;
	}

.avance_destacada .foto {
	margin-bottom:5px;
	width: 237px;
	height:158px;
	overflow:hidden;
	border-radius:5px;
	}
.avance_destacada .foto img {border-radius:5px;}
	
.avance_destacada .titulo a{
	font-size: 16px;
	font-weight:normal;
	line-height:16px;
	}

.avance_destacada .entradilla {
	margin:10px 0px 10px 0px;
	height:40px;
	overflow:hidden;
	}

.avance_destacada .leermas{float:right;}
.avance_destacada .leermas a{
	background:#000;
	border-radius:5px 5px 0px 0px;
	color:#fff;
	display:block;
	font-size: 12px;
	padding:2px 10px 2px 10px;
	text-align:center;
	}
.avance_destacada .leermas a:hover {background:#666;}

/*CATALOGO LISTADO PORTADA*/
.catalogo_listado_portada {
	}
.catalogo_listado_portada .migas
{
	display:none;
}
.catalogo_listado_portada h2 {
	}
.catalogo_listado_portada {}
.catalogo_listado_portada ul{
	overflow:hidden;
	margin-top:20px;
	}
	
.catalogo_listado_portada ul li{
	background:#F9F9F7;
	float:left;
	height:248px;
	margin: 10px 0px 20px 0px;
	overflow:hidden;
	padding:0px;
	position:relative;
	width: 660px;
	}
	
.catalogo_listado_portada ul li .foto {
	border-right:15px solid #f1f2ed;
	background:#fbfbfb;
	width: 347px;
	height: 248px;
	overflow:hidden;
	float:left;
	}

.catalogo_listado_portada ul li .detalle {
	background:#f9f9f7;
	float:left;
	height:170px;
	overflow:hidden;
	width: 268px;
	padding:15px;
	}
	
.catalogo_listado_portada ul li .nombre {
	font-size: 18px;
	color: #444;
	line-height:18px;
	padding-bottom:3px;
	width:268px;
	float:left;
	height:40px;
	overflow:hidden;
	margin-bottom:10px;
	}

.catalogo_listado_portada ul li .nombre a:link{
	color:#bf9527;
	line-height:22px;
	text-transform:uppercase;
	font-weight:bold;}
	
.catalogo_listado_portada ul li .nombre a:hover{
	color:#000000;}

.catalogo_listado_portada ul li .entradilla {
	font-size:18px;
	line-height:22px;
	float:left;
	height:112px;
	overflow:hidden;
	}
	
.catalogo_listado_portada ul li .precio {
	float:left;
	font-size: 20px;
	font-weight:bold;
	color: #000;
	padding:5px 0px 0px 15px;
	}
.catalogo_listado_portada ul li .precio span {
	font-size:14px;color:#999; font-weight:normal;
	}

.catalogo_listado_portada ul li .precioantes {
	position:absolute;
	top:242px;
	left:10px;
	clear:both;
	float:left;
	font-size: 10px;
	font-weight:bold;
	color: #FB8313;
	padding-top:8px;
	display:none;
	}

.catalogo_listado_portada ul li .marca {
	background:#fff;
	border-radius:0px 7px 0px 7px;
	padding:7px;
	position:absolute;
	top:0px;
	right:0px;
	height:25px;
	width:40px;
	display:none;
	}
	
.catalogo_listado_portada ul li .marca img {
	max-width:40px;
	max-height:25px;
	display:none;
	}
	
.catalogo_listado_portada ul li .leermas a {
	background:url(../images/btn_mas.jpg) no-repeat;
	height:55px;
	width:99px;
	bottom:0px;
	display:block;
	position:absolute;
	right:10px;
	}

/*VÍDEOS PORTADA*/
.videos_portada{
	float:left;
	overflow:hidden;
	widht:735px;
	margin-top:0px;
	}
.video_cont{
	float:left;
	width:735px; margin-bottom:10px;
	}
.videos_txt{
	float:left;
	height:225px;
	width:390px;
	}
.videos_peli{
	background:url(../images/fnd_video_port.png) no-repeat right bottom;
	float:right;
	height:232px;
	width:342px;
	position:relative;
	}

/*GALERÍA VIDEOS ---------------------------------*/
.ficha_galeria_videos {
	float:left;
	overflow:hidden;
	height:169px;
	width:291px;
	margin:0px 0px 25px 0px;
	text-align:center;
	position:relative;
}



.ficha_galeria_videos .foto {
	height:169px;
	width:291px;
}
.ficha_galeria_videos .foto a {
	text-decoration: none;
	display:block;
}
.ficha_galeria_videos .foto a img {
	max-height:169px;
	max-width: 291px;	
	padding:0px 0px 0px 0px;
}
.ficha_galeria_videos .foto a span.play {
	display:none;
	background: url(../images/btn_play.png) no-repeat center 60px;
	background-color:rgba(0,0,0,0.7);
	margin: -169px 0px 0 0px;
	height:169px;
	width: 291px;
	position: relative;
	z-index: 99999;
	opacity: 1;
}
.ficha_galeria_videos .foto a:hover span.play {
	display:block;
}
.ficha_galeria_videos p.titulo_video_port {
	color:#fff;
	font-size: 16px;
	text-align:center;
	height:40px;
	width: 271px;
	padding: 0 10px 0 10px;
	position:absolute;
	top: 120px;
	left:0px;
	overflow:hidden;
}

.ficha_galeria_videos p.titulo_video_port a:link{
	color:#fff;
	font-weight:normal;}
	
.ficha_galeria_videos .detalles{
	color:#bf9527;
	font-style:italic;
	font-size: 14px;
	overflow:hidden;
	text-align:center;
	height:20px;
	width: 271px;
	margin:0 auto;
	padding: 0 10px 0 10px;
	position:absolute;
	top: 140px;
	font-weight:bold;
}
.ficha_galeria_videos .detalles a:hover {
	color:#fff;	
}